<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDebugTaskUploader" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://glservice.svtz.ru:8000/DebugTaskUploader/DebugTaskUploader.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDebugTaskUploader"
                contract="DebugTaskUploader.IDebugTaskUploader" name="BasicHttpBinding_IDebugTaskUploader" />
        </client>
    </system.serviceModel>
</configuration>